.ScheduleStudentDashboard-home-side-container{
    display: flex;
  
  }
  
  .navbar-ScheduleStudentDashboard{
    margin-top: -41px;
  }
  
  .ScheduleStudentDashboard-home-content{
    margin-left: 50vh;
    margin-top: 80px;
  }