*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}   

.body-newpassword{
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat; /* Prevents repeating the image */
    background-position: center;   /* Centers the image */
}

.newpassword-container{
    background-color: rgba(0, 0, 0, 0.6);
    width: 30%;
    height: 47vh;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.5); /* Adjusted alpha for visibility */
}

.newpassword-title{
    color: #fff;
    margin-top: 20px;
}

.newpassword1-input label{
    margin-left: 60px;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}

.newpassword1-input input{
    margin-left: 50px;
    width: 50vh;
    height: 40px;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    border: 2px solid #fff; 
    padding: 10px;
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
}

.confirmnewpassword-input label{
    margin-left: 60px;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}
.confirmnewpassword-input input{
    margin-left: 50px;
    width: 50vh;
    height: 40px;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    border: 2px solid #fff; 
    padding: 10px;
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
}

.newpassword1-input input::placeholder{
    color: rgba(255, 255, 255, 0.6); 
}

.confirmnewpassword-input input::placeholder{
    color: rgba(255, 255, 255, 0.6); 
}

.newpassword-button{
    margin-top: 20px;
    margin-left: -6vh;
}

.newpassword-button button{
    width: 50vh;
    font-size: 15px;
    border-radius: 10px;
}