.ResearchStudentDashboard-home-side-container{
    display: flex;
  
  }
  
  .navbar-ResearchStudentDashboard{
    margin-top: -41px;
  }
  
  .ResearchStudentDashboard-home-content{
    margin-left: 42vh;
    margin-top: 80px;
  }