.teacher-sidebar-side-container{
    background: #363636;
    height: 120vh;
    margin-top: -22px;
    width: 35vh;
    position: fixed;
    z-index: 800;
}

.teacher-sidebar-sidebar{
    margin-top: 160px;
}

.teachertext button{
    font-size: 18px;
    width: 26.5vh;
    margin-left: 60px;
    justify-content: left;
    color: rgb(255, 255, 255);
    padding: 10px;
    gap: 10px;
    margin-bottom: 5px;
    margin-top: 17px;
    margin-left: 30px;
}


.teachertext button:hover{
    background: rgba(0, 0, 0, 0.5);
}