.ScheduleHomeside-container2{
    display: flex;
  
}

.ScheduleHomenavbar-side2{
    margin-top: -43px;
    margin-left: -250px;
}
.ScheduleHomecontent2{
    margin-left: 45vh;
    margin-top: 80px;
}