.TeachersHomeside-container2{
    display: flex;
  
}

.TeachersHomenavbar-side2{
    margin-top: -43px;
    margin-left: -250px;
}

.TeachersHomecontent2{
    margin-left: 45vh;
    margin-top: 80px;
}