.StudentHomeside-container1{
    display: flex;

   
  
}
.StudentHomenavbar-side1{
    margin-top: -43px;
    margin-left: -250px;
}

.StudentHomecontent1{
    margin-left: 45vh;
    width: 120vh;

}